header {
    background-color:rgb(33, 194, 244);
    text-align: center;
    padding: 5px 0px;
    color:rgb(0, 0, 0);
    border-style: groove;
    border-radius: 40px;
    border-color: navy;
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.container {
    text-align: center;
}

